lib.Micajah.ErrorTracker.helper.net1/Web References/ErrorTracker/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.micajah.com/ErrorTracker/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.micajah.com/ErrorTracker/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.micajah.com/ErrorTracker/">
      <s:element name="AddErrorInfoError">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oErrorInfo" type="tns:ErrorInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ErrorInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ApplicationID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Browser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Method" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="URLReferrer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhysicalFileName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SourceFile" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorFile" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorLineNumber" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryString" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MachineName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserIPAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UserHostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="StackTrace" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ExceptionsDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QueryStringDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Form" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Session" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApplicationDescription" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Version" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestCookies" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ResponseCookies" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RequestHeader" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServerVariables" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cache" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddErrorInfoErrorResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddErrorInfoErrorResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddErrorInfoErrorSoapIn">
    <wsdl:part name="parameters" element="tns:AddErrorInfoError" />
  </wsdl:message>
  <wsdl:message name="AddErrorInfoErrorSoapOut">
    <wsdl:part name="parameters" element="tns:AddErrorInfoErrorResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="AddError">
      <wsdl:input name="AddErrorInfoError" message="tns:AddErrorInfoErrorSoapIn" />
      <wsdl:output name="AddErrorInfoError" message="tns:AddErrorInfoErrorSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddError">
      <soap:operation soapAction="http://www.micajah.com/ErrorTracker/AddErrorInfoError" style="document" />
      <wsdl:input name="AddErrorInfoError">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AddErrorInfoError">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    <wsdl:operation name="AddError">
      <soap12:operation soapAction="http://www.micajah.com/ErrorTracker/AddErrorInfoError" style="document" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      <wsdl:input name="AddErrorInfoError">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:input>
      <wsdl:output name="AddErrorInfoError">
        <soap12:body use="literal" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost/Micajah.ErrorTracker/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost/Micajah.ErrorTracker/Service.asmx" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>